body {
  text-align: center;
  background: #90a3e2;
  font-family: sans-serif;
  font-weight: 100;
}
 
 
.timer {
  margin-top: 50px;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
 
.field {
  padding: 10px;
  border-radius: 3px;
  background: #5443f3;
  display: inline-block;
}
 
.value {
  padding: 15px;
  border-radius: 3px;
  background: #1d3a9b;
  display: inline-block;
}
 
.label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
